{
	admin off
	acme_ca {$ACME_CA:https://acme-v02.api.letsencrypt.org/directory}
	on_demand_tls {
		ask http://{$GATEWAY_UPSTREAM:127.0.0.1:3000}/tls-check
	}
}

:443 {
	tls {
		on_demand
	}
	reverse_proxy {$GATEWAY_UPSTREAM:127.0.0.1:3000}
}

:80 {
	redir https://{host}{uri} permanent
}
